.container {
  margin-top: 20px;
}

.tbodyItem td {
  background-image: linear-gradient(to bottom,  #4267B2 80%, #fff);
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.picture {
  text-align: center;
  color: #FFF;
}