.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 2px 2px 0 0;
  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 0 0.1rem 0;

  span {
    background-image: linear-gradient(to bottom, #4267B2 80% , #fff);
    color: #ffffff;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 5px;
  }

  p {
    text-align: right;
    margin: 0 1rem;
  }
}

.contentDiv {
  display: flex;
  align-items: center;
}

.header {
  background-color: #4267B2;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
